@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ios-background: #F2F2F7;
  --ios-blue: #007AFF;
  --ios-red: #FF3B30;
  --ios-green: #34C759;
  --ios-yellow: #FFCC00;
  --ios-gray: #8E8E93;
}